body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
}

h2{
  color: rgb(39, 37, 37);  ;  
  /* font-family: 'Cormorant Garamond', serif; */
  font-family: 'Titillium Web', sans-serif;

}
h4{
    color: rgb(117, 111, 111);
    font-family: 'Cormorant Garamond', serif;
    /* font-family: 'Titillium Web', sans-serif; */

}
.btn{
    text-align: center;
    width: 100%;
    background-color: #7367f0;
    box-shadow: 1px 1px ;
    border: none;
    padding: 10px;
    }
    a{
        text-align: end;
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Titillium Web', sans-serif;
    

    }
label{
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Titillium Web', sans-serif;

}
input{
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Titillium Web', sans-serif;

}
    .btn:hover{
        box-shadow:0px 0px 35px 1px #7367f0;
    }
    .icon{
        border-radius: 4px 4px;
        text-align: center;
    }
    .info{
        color: #aeaaec;
        background-color: #e5e2fa;
        border-radius: 4px 4px;
    }
    .divider{
        position: relative;
    }
    .divider-text:before  {

       right: 100%;
       content:"";
       position: absolute;
       top: 50%;
       width:100px;
       
   }
   img{
    width:100%;
}

  