

<div class="row  text-align-center">
    <div class="col-3">
            <form class="px-4 py-3 text-align-center">
                <h1 class="text-align-center"> Restaurant </h1>
                <div class="form-group">
                <label for="exampleDropdownFormUserName">user name:</label>
                <input type="email" class="form-control" id="exampleDropdownFormUserName" placeholder="userName" autocomplete="username">
                </div>
                <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password:</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword" placeholder="Password" autocomplete="current-password">
                </div>
                <div class="form-group">
                <!-- <input type="checkbox" class="form-check-input" id="dropdownCheck"> -->
                <!-- <label class="form-check-label" for="dropdownCheck"> -->
                <a [routerLink]="['/forgot-pass']" >forget password</a>
                <!-- </label> -->
                </div>
                <button type="submit" class="btn btn-primary" a [routerLink]="['/registration']" >Sign up</button> 
            </form>
    </div>
  </div>