<div class="row">
    <div class="col-3 text-align-center">
        <form class="px-4 py-3">
            <br>
            <div class="form-group">
                <label for="exampleDropdownFormUserName">user name</label>
                <input type="userName" class="form-control" id="userName" placeholder="userName"
                    autocomplete="username">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword">Password</label>
                <input type="password" class="form-control" required formControlName="Password"
                    id="exampleDropdownFormPassword" placeholder="Password" autocomplete="current-password">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword">confirm</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword" placeholder="Password"
                    autocomplete="current-password">
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
</div>