body{
  padding: 0;
  margin: 0;
  font-weight: 400;
}
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.h-100{
  height: 100%!important
}

.btn{
    width: 100%;
    background-color: #7367f0;
    padding: 5px 0px;
    border: none;
}
h3{
    color: rgb(90, 86, 86);
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Dongle', sans-serif;
  /* font-size: 40px; */

    

  }
  p{
      color: rgb(170, 157, 157);
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Dongle', sans-serif;
  /* font-size:30px; */



}
label{
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Dongle', sans-serif;
  /* font-size:30px; */



}
input{
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Dongle', sans-serif;
  /* font-size:30px; */



}
  a{
      color:blueviolet;
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Dongle', sans-serif;
  /* font-size:30px; */

}
.btn{
  border-radius: 5px;

}
  .btn:hover{
    box-shadow:0px 0px 35px 1px rgba(197, 158, 231, 0.678);
}
img{
  width:60%;
  border-style: none;
  height: auto;
  /* background:rgb(250, 245, 245); */
  
}
.align-item-center{
  display: flex !important;
  align-items: center;
}
#for{
  display: block;
}
.w-100{
  width: 100%!important;
  height: 100vh;
}
.form{
  padding: 0px 30px;
}
.for-login{
  text-align: center;
}