<div class="row">
    <div class="col-3 text-align-center">
<form class="px-4 py-3">
    <h4> REGISTRATION</h4>
    <br>
    
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" placeholder="name" autocomplete="name">
            </div>
            <br>
            <div class="form-group">
                <label for="name">lastName</label>
                <input type="text" class="form-control" id="name" placeholder="lastName" autocomplete="name">
                </div>
                <br>
                <div class="form-group">
                    <label for="name">userName</label>
                    <input type="text" class="form-control" id="name" placeholder="userName" autocomplete="name">
                    </div>

                    <div class="form-group">
                        <label for="name">password</label>
                        <input type="text" class="form-control" id="name" placeholder="password" autocomplete="password">
                        </div>
                        
                    


                <!-- <p>You can pass an existing component as content of the modal window. In this case, if you're still using Angular 8 or older, remember to add the content component
                    in the <code>entryComponents</code> section of your <code>NgModule</code>. For Angular 9 or newer, it's not needed anymore.
                    </p>
                    
                    <button class="btn btn-lg btn-outline-primary" (click)="open()">submit</button> -->
    
    <button type="submit" class="btn btn-primary">submit</button>
</form>
</div>
</div>