<div class="row">
    <div class="col-4">
        <div class="form-wrapper container mt-5">
        <form class="form" [formGroup]="user">
        <h2> REGISTRATION</h2>
        <h4>please sign in your account and start the adventure</h4>
        <div class="form-group"
        [ngClass]="{ 'form-invalid': !user.get('email')?.valid && user.get('email')?.['touched'] }">
        <label>Email</label>
        <input type="text" required formControlName="email" placeholder="email" class="form-control" name="email" />
        <span
            *ngIf="!user.get('email')?.valid && user.get('email')?.touched && user.get('email')?.errors?.['required']">
            Email is required
        </span>
        <span
            *ngIf="!user.get('email')?.valid && user.get('email')?.touched && user.get('email')?.errors?.['email']">
            Please enter a valid email
        </span>
    </div>
        <div class="form-group"
            [ngClass]="{ 'form-invalid': !user.get('fullName')?.valid && user.get('fullName')?.['touched'] }">
            <label>fullName:</label>
            <input type="text" required formControlName="fullName" class="form-control" placeholder="fullName" name="fullName" />
            <span 
                *ngIf="!user.get('fullName')?.valid && user.get('fullName')?.touched && user.get('fullName')?.errors?.['required']">
                fullName Name is required
            </span>
            <span
            *ngIf="!user.get('fullName')?.valid && user.get('fullName')?.touched && user.get('fullName')?.errors?.['fullName']">
            Please enter a valid fullName
        </span>
        </div>
       
        <!-- <div class="form-group">
            <label>address:</label>
            <input type="text" required formControlName="address" class="form-control" placeholder="address" name="address" />
            <span
                *ngIf="!user.get('address')?.valid && user.get('address')?.touched && user.get('address')?.errors?.['required']">
                address is required
            </span>
            <span
            *ngIf="!user.get('address')?.valid && user.get('address')?.touched && user.get('address')?.errors?.['address']">
            Please enter a valid address
        </span>
        </div> -->
        <div class="form-group">
            <label>mobileNumber:</label>
            <input type="number" required formControlName="mobileNumber" placeholder="mobileNumber" class="form-control" name="mobileNumber" />
            <span
                *ngIf="!user.get('mobileNumber')?.valid && user.get('mobileNumber')?.touched && user.get('mobileNumber')?.errors?.['required']">
                number is required
            </span>
            <span
            *ngIf="!user.get('mobileNumber')?.valid && user.get('mobileNumber')?.touched && user.get('mobileNumber')?.errors?.['number']">
            Please enter a valid number
        </span>
        </div>
        <div class="form-group">
            <label>password:</label>
            <input type="text" required formControlName="Password" class="form-control" name="Password" />
            <span
                *ngIf="!user.get('Password')?.valid && user.get('Password')?.touched && user.get('Password')?.errors?.['required']">
                password is required
            </span>
            <span
            *ngIf="!user.get('Password')?.valid && user.get('Password')?.touched && user.get('Password')?.errors?.['Password']">
            Please enter a valid Password
        </span>
        </div>
                    
                    <button class="btn btn-lg btn-primary" (click)="open()">submit</button>
    
    <!-- <button type="submit" class="btn btn-primary">submit</button> -->
</form>
</div>
</div>
</div>