<div class="container">
    <form [formGroup]="user" ngSubmit="onSubmit">

        <div class="form-group"
            [ngClass]="{ 'form-invalid': !user.get('email')?.valid && user.get('email')?.['touched'] }">
            <label>Email:</label>
            <input type="text" required formControlName="email" placeholder="email" class="form-control" name="email" />
            <span
                *ngIf="!user.get('email')?.valid && user.get('email')?.touched && user.get('email')?.errors?.['required']"
                class="text-danger">
                Email is required
            </span>
            <span
                *ngIf="!user.get('email')?.valid && user.get('email')?.touched && user.get('email')?.errors?.['email']"
                class="text-danger">
                Please enter a valid email
            </span>
        </div>
        <div class="form-group"
            [ngClass]="{ 'form-invalid': !user.get('fullName')?.valid && user.get('fullName')?.['touched'] }">
            <label>fullName:</label>
            <input type="text" required formControlName="fullName" class="form-control" placeholder="fullName"
                name="fullName" />
            <span
                *ngIf="!user.get('fullName')?.valid && user.get('fullName')?.touched && user.get('fullName')?.errors?.['required']"
                class="text-danger">
                fullName Name is required
            </span>
            <span
                *ngIf="!user.get('fullName')?.valid && user.get('fullName')?.touched && user.get('fullName')?.errors?.['fullName']"
                class="text-danger">
                Please enter a valid fullName
            </span>
        </div>
        <div class="form-group">
            <label>mobileNumber:</label>
            <input type="text" required formControlName="mobileNumber" placeholder="mobileNumber" class="form-control"
                name="mobileNumber" />
            <span
                *ngIf="!user.get('mobileNumber')?.valid && user.get('mobileNumber')?.touched && user.get('mobileNumber')?.errors?.['required']"
                class="text-danger">
                Please enter a valid number
            </span>
            <span
                *ngIf="!user.get('mobileNumber')?.valid && user.get('mobileNumber')?.touched && user.get('mobileNumber')?.errors?.['pattern']"
                class="text-danger">
                number is required
            </span>
        </div>
  <!-- -----password---- -->
  <div class="form-group">
    <div>
        <label>password:</label>
    </div>
    <input type="Password" required formControlName="Password" class="form-control"
        placeholder="........" name="Password" />

    <span
        *ngIf="!user.get('Password')?.valid && user.get('Password')?.touched && user.get('Password')?.errors?.['required']"
        class="text-danger">
        password must be at least 6 character
    </span>
    <span
        *ngIf="!user.get('Password')?.valid && user.get('Password')?.touched && user.get('Password')?.errors?.['Password']"
        class="text-danger">
        password must be at least 6 character
    </span>
</div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control" name="userImage" (change)="handleFileInput($event)" />
        </div>

        <button class="btn btn-primary" (click)="addUser()">submit</button>
        <br>
        <!-- ---------table-------- -->
        <table class="table">
            <thead>
            <tr class="btn-secondary">
                <th>email</th>
                <th>fullName</th>
                <th>mobileNumber</th>
                <th>image</th>
                <!-- <th>image</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allUser">
                <td>{{item.email}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.mobileNumber}}</td>
                <!-- <td>{{item.image}}</td> -->
                <td><img style="width: 100px;" [src]="item.image" [alt]="item.firstName"></td>
                <td>
                <td>
                    <button type="button" class="btn btn-success" (click)="editUser(item._id)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteUser(item._id)">delete</button>
                </td>
            </tr>
        </tbody>
        </table>
    </form>
</div>